:root {
    --color-primary: #8800FF;
    --color-secondary: #C67DFF; 
    --color-black: #11002C;
    --color-white: #F7F4FF;
}

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Blauer nue";
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

button{
    height: 5rem;
    border-radius: 2rem;
    padding: 0.6rem;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: var(--color-secondary);
}

.span_alerta {
    width: 100vw;
    height: 5%;
    font-size: 2.8rem;
    background-color: var(--color-primary);
    position: absolute;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    opacity: 0;
    animation: 
        slideDown 0.3s ease-out forwards, 
        slideUp 0.5s ease-in 3s forwards;
}

#icone_loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    display: none;
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}
