:root {
    --color-primary: #8800FF;
    --color-secondary: #C67DFF; 
    --color-black: #11002C;
    --color-white: #F7F4FF;
}

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Blauer nue";
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

button{
    height: 5rem;
    border-radius: 1rem;
    padding: 0.6rem;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

a {
    color: var(--color-secondary);
}

.span_alerta {
    width: 100vw;
    height: 5%;
    font-size: 2.8rem;
    background-color: var(--color-primary);
    position: absolute;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    opacity: 0;
    animation: 
        slideDown 0.3s ease-out forwards, 
        slideUp 0.5s ease-in 3s forwards;
    z-index: 3;
}

#icone_loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    display: none;
}

.fundo-modal-logout {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(4px);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-logout {
    width: 40%;
    height: 40%;
    background-color: var(--color-white);
    border-radius: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-logout-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    width: 70%;
}

.modal-logout-content p {
    font-size: 2.5rem;
}

.modal-logout-content > div {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.modal-logout-content > div > button {
    display: flex;
    width: 70%;
    font-size: 1.7rem;
    border-radius: 1rem;
}

.modal-logout-button-nao {
    background-color: #FF5B5B;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

button:hover {
    opacity: 0.8;
}

button:active {
    transform: scale(0.95); /* botão encolhe um pouco */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3); /* afundado */
  }

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #AFA7CA;
    border-radius: 2rem;
}